In [6]:
import pandas as pd 
pd.__version__

'2.0.3'

In [33]:
df = pd.read_csv("taxi_data.csv", low_memory=False)

In [35]:
print(len(df))

3307234

In [9]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [10]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [15]:
print(pd.io.sql.get_schema(df, name="ny_taxi", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" FLOAT(53),
	"DOLocationID" FLOAT(53),
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [11]:
df_iter = pd.read_csv("taxi_data.csv", iterator=True, chunksize=100000)

In [40]:
df = next(df_iter)

StopIteration:

In [14]:
len(df)

100000

In [25]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [18]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1.0,2023-06-01 00:08:48,2023-06-01 00:29:41,1.0,3.40,1.0,N,140.0,238.0,1.0,21.9,3.50,0.5,6.70,0.0,1.0,33.60,2.5,0.00
1,1.0,2023-06-01 00:15:04,2023-06-01 00:25:18,0.0,3.40,1.0,N,50.0,151.0,1.0,15.6,3.50,0.5,3.00,0.0,1.0,23.60,2.5,0.00
2,1.0,2023-06-01 00:48:24,2023-06-01 01:07:07,1.0,10.20,1.0,N,138.0,97.0,1.0,40.8,7.75,0.5,10.00,0.0,1.0,60.05,0.0,1.75
3,2.0,2023-06-01 00:54:03,2023-06-01 01:17:29,3.0,9.83,1.0,N,100.0,244.0,1.0,39.4,1.00,0.5,8.88,0.0,1.0,53.28,2.5,0.00
4,2.0,2023-06-01 00:18:44,2023-06-01 00:27:18,1.0,1.17,1.0,N,137.0,234.0,1.0,9.3,1.00,0.5,0.72,0.0,1.0,15.02,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1.0,2023-06-01 21:10:20,2023-06-01 21:33:10,2.0,3.90,1.0,N,48.0,144.0,1.0,23.3,3.50,0.5,2.00,0.0,1.0,30.30,2.5,0.00
99996,1.0,2023-06-01 21:46:18,2023-06-01 22:00:19,1.0,3.60,1.0,N,231.0,68.0,1.0,19.1,3.50,0.5,1.00,0.0,1.0,25.10,2.5,0.00
99997,2.0,2023-06-01 21:05:50,2023-06-01 21:14:08,1.0,1.59,1.0,N,79.0,170.0,1.0,10.0,1.00,0.5,3.00,0.0,1.0,18.00,2.5,0.00
99998,2.0,2023-06-01 21:24:53,2023-06-01 21:40:49,1.0,5.08,1.0,N,162.0,87.0,1.0,24.0,1.00,0.5,1.00,0.0,1.0,30.00,2.5,0.00
99999,2.0,2023-06-01 21:44:31,2023-06-01 21:56:35,1.0,4.80,1.0,N,88.0,170.0,1.0,21.2,1.00,0.5,3.50,0.0,1.0,29.70,2.5,0.00

In [21]:
df.head(n=0).to_sql(con=engine, name="ny_taxi", if_exists='replace')

0

In [22]:
%time df.to_sql(con=engine, name="ny_taxi", if_exists='append')

CPU times: user 5.36 s, sys: 25.2 ms, total: 5.38 s
Wall time: 8.7 s

1000

In [27]:
from time import time

In [28]:
while True:
    start = time()
    
    df = next(df_iter)
    
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    
    df.to_sql(name="ny_taxi", con=engine, if_exists="append")
    
    end = time()
    
    print("inserted another chunk {:.3f} second".format(end-start))

inserted another chunk 8.871377 second
inserted another chunk 8.786915 second
inserted another chunk 8.658814 second
inserted another chunk 8.629870 second
inserted another chunk 8.649939 second
inserted another chunk 8.693448 second
inserted another chunk 8.811801 second
inserted another chunk 8.490467 second
inserted another chunk 8.525893 second
inserted another chunk 8.551393 second
inserted another chunk 8.600081 second
inserted another chunk 8.521599 second
inserted another chunk 8.558067 second
inserted another chunk 8.545756 second
inserted another chunk 8.650274 second
inserted another chunk 8.652772 second
inserted another chunk 8.535975 second
inserted another chunk 8.668919 second
inserted another chunk 8.676950 second
inserted another chunk 8.636395 second
inserted another chunk 8.578519 second
inserted another chunk 8.476420 second
inserted another chunk 8.470603 second
inserted another chunk 8.548782 second
inserted another chunk 8.721977 second
inserted another chunk 8.582085 second
inserted another chunk 8.633337 second
inserted another chunk 8.605594 second
inserted another chunk 8.583254 second
inserted another chunk 8.740577 second
inserted another chunk 8.717687 second

/tmp/ipykernel_20057/2314601111.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk 7.686037 second
inserted another chunk 0.562652 second

StopIteration: